# ==========================================
# BACKEND (Spring Boot / Java)
# ==========================================
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ==========================================
# GLOBAL EDITOR & OS FILES
# ==========================================
.idea/
*.iws
*.iml
*.ipr
.vscode/
!.vscode/extensions.json
.DS_Store
*.suo
*.sln

.env
car-rental-backend/.env